<!DOCTYPE html>
<html lang="en">

<head>
	<style type="text/css">
		body {
			background-image: url(https://images.wallpaperscraft.com/image/road_marking_trees_137674_1920x1080.jpg);
		}

    .two-col {
      overflow: hidden;/* Makes this div contain its floats */
    }

    .two-col .col1,.two-col .col2 {
      width: 49%;
    }

    .two-col .col1 {
      float: left;
    }

    .two-col .col2 {
      float: right;
    }

    .bio-image{
      text-align:center;
      margin: 100px
    }

    .bio-image img{
      border-radius:50%;
    }

		div.transbox {

      padding: 50px;
      padding-top: 25px;
		  height: 565px;
  		margin: 50px;
  		background-color: #ffffff;
  		border: 1px solid black;
  		opacity: 0.7;
  		filter: alpha(opacity=60); /* For IE8 and earlier */
		}

    div.transbox2 {
      text-align: center;
      height: 170px;
      margin: 50px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity: 0.7;
      filter: alpha(opacity=60); /* For IE8 and earlier */
    }

		div.transbox p {
  		margin: 5%;
 			font-weight: bold;
  		color: #000000;
		}

    h3 {
       margin: 0;
    }

	</style>
  <meta charset="UTF-8">
  <title>{{ name }}</title>
</head>

<body>
  <div class="two-col">
    <div class="col1">
      <div class="bio-image">
        <img src="https://i.imgur.com/qecCOm2.jpg?1" alt="image">
      </div>
      <div class="transbox2">
        <p>
          <h1>{{ name }}</h1>
          <h3>Birth: February 3rd 2000</h3>
          <h3>NPM: {{ npm }}</h3>
          <h3>{{ kuliah }}</h3>
        </p>
      </div>

      
    </div>

    <div class="col2">
      <div class="transbox">
          <p>
            <h1 align="center">Nice to Meet You!</h1>
            <h2 align="justify">
              <br>Thank you for visiting!<br> My name is Vina, i'm {{ age }} years old and currently studying in Information System, University of Indonesia.
            </h2>
            <h2 align="justify">{{ deskripsi }}</h2>
            <h2>I have some hobbies, that is {{ hobi }}.</h2>
            <h1 align="center"> <br>Feel free to visit again ^^</h1>

          </p>
        </div>
    </div>
  </div>

</body>
</html>
